{% extends 'base.html'%}

{% block content %}
<div class="card" style="max-width: 760px; margin: 0 auto;">
    <h2>Supprimer le signalments</h2>

    <p> Voulez-vous vraiment supprimer ce signalements ?</p>

    <form method="POST">
        {%  csrf_token %}

        <button type="submit" class="btn btn-secondary">Supprimer</button>
        <a href="{% url 'detail_signalements' signalements.id %}" class="btn btn-secondary">Annuler</a>
        
            
    </form>

    
</div>

{% endblock %}