{% extends 'base.html'%}

{% block content %}
<div class="card" style="margin-top: 20px;">

    <h2 style="margin-bottom: 20px;">📌Signalements suivis</h2>
        {% if signalements %}
            <div style="overflow-x: auto;">
                    <table class="table" style="width: 100%; border-collapse: collapse;">
                        <thead>
                            <tr style="border-bottom: 2px solid #e2e8f0; text-align: left;">
                                <th style="padding: 12px;">Titre</th>
                                <th style="padding: 12px;">statut</th>
                                <th style="padding: 12px;">Date</th>
                                <th style="padding: 12px; text-align: right;">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for signalement in signalements %}                           
                                <tr style="border-bottom: 1px solid #f1f5f9;">
                                    <td style="padding: 12px; font-weight: 600;">{{ signalement.titre }}</td>
                                    <td style="padding: 12px;">
                                        {% if signalement.statut == 'en_cours' %}
                                            <span style="background: #fef3c7; color: #92400e; padding: 4px; border-radius: 20px; font-size: 12px; font-weight: 600;">⌛En cours</span>
                                        {% elif signalement.statut == 'resolu' %}  
                                            <span style="background: #fef3c7; color: #92400e; padding: 4px; border-radius: 20px; font-size: 12px; font-weight: 600;">✅Resolus</span>
                                        {% elif signalement.statut == 'rejete' %}  
                                             <span style="background: #fef3c7; color: #92400e; padding: 4px; border-radius: 20px; font-size: 12px; font-weight: 600;">🚫Réjétés</span>
                                        {% endif%}
                                    </td>
                                    <td style="padding: 12px; color: var(--mutd, #64748b); font-size: 14px;">
                                        {{ signalement.date_creation|date:"d/m/y" }}
                                    </td>
                                    <td style="padding: 12px; text-align: right;">
                                        <a href="{% url 'detail_signalements' signalement.pk%}" class="btn" style="padding: 6px 12px; font-size: 13px; ">Voir</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                                    <a href="{% url 'aller_a_mon_espace' %}" class="btn btn-secondary" style="margin:0; padding:8px 12px; text-align: center;"> 📊 Retourner à mon espace </a>
            </div>       
        {% else %}
            <div style="text-align: center; padding: 40px 20px; color: #64748b;">
                <span style="font-size: 32px; display: block; margin-bottom: 8px">📬</span>
            <p style="margin: 0;">Aucun signalements suivi pour le moment.</p>
        {% endif %}
</div>
{% endblock %}